* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

body {
  background-image: url(../img/Z_BG.jpg);
  background-size: 100vw;
}

.Z_Head {
  position: relative;
  width: 100vw;
  height: 150vw;
  overflow: hidden;
}

.Z_Logo {
  position: absolute;
  width: 50vw;
  height: 10vw;
  line-height: 10vw;
  color: #fff;
  font-size: 4.5vw;
  left: 1vw;
  text-indent: 1vw;
  letter-spacing: 1px;
}

.Z_Logo img {
  position: relative;
  float: left;
  width: 8vw;
  top: 1vw;
}

.Z_Head_Jh {
  position: absolute;
  width: 100%;
  height: 6vw;
  border-radius: 6vw;
  top: 66vw;
  text-align: center;
  color: #fff;
  font-size: 4.5vw;
  letter-spacing: 1px;
}

.Z_Head_Jh i {
  font-style: normal;
  color: #4cc5fd;
  font-size: 5vw;
  font-weight: bold;
}

.JDD {
  position: absolute;
  width: 70vw;
  margin-left: 10vw;
  margin-top: 10vw;
}

.Cj_Ctt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  transform: scale(0);
  transition: 1s;
}

.CJ {
  position: absolute;
  width: 70vw;
  height: 80vw;
  left: 0;
  right: 0;
  margin: auto;
  top: 30vw;
}

.CJXX {
  position: absolute;
  width: 70vw;
  height: 70vw;
}

.CZ {
  position: absolute;
  width: 30vw;
  height: 30vw;
  transform: rotate(0deg);
  transform-origin: bottom right;
  margin-top: 10vw;
  margin-left: 55vw;
  animation: CZ_WZ 1.8s linear infinite;
}

/* 未砸下来 */
@keyframes CZ_WZ {
  0% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

/* 砸下来 */
@keyframes CZ_Z {
  from {
    transform: rotate(25deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.Xx_Tit {
  position: absolute;
  width: 100%;
  height: 10vw;
  left: 0;
  top: 17vw;
  font-size: 6vw;
  color: #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1vw;
}

.Xx_Xx {
  color: #ff9900;
  width: 44vw;
  top: 34vw;
  left: 13vw;
}

.Xx_Btn {
  top: 56vw;
  font-size: 4.5vw;
  color: #f1f1f1;
}

.Xx_Btn a {
  color: #f1f1f1;
}

.Xx_Gb {
  position: absolute;
  bottom: 0;
  width: 8vw;
  height: 8vw;
  left: 0;
  right: 0;
  margin: auto;
}

#Yc_Gb {
  bottom: -12vw;
}

#Zj_Gb {
  position: relative;
  margin-top: 126vw;
}

.Xx_Gb img {
  width: 8vw;
  height: 8vw;
}


.Z_C {
  position: absolute;
  width: 80vw;
  height: 15vw;
  left: 10vw;
  bottom: 0vw;
}

.Z_C_Btn {
  position: relative;
  float: left;
  width: 30vw;
  height: 11vw;
  text-align: center;
  line-height: 11vw;
  background: #ffd203;
  color: #fff;
  font-size: 4.5vw;
  letter-spacing: 2px;
  border-radius: 3vw;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0px 1vw 0px #ff9900;
}

.Z_C_Btn:hover {
  height: 12vw;
  box-shadow: none;
}

.C_Btn_R {
  float: right;
}

.Z_Gg {
  position: absolute;
  width: 88vw;
  height: 9vw;
  background: #fff;
  left: 6vw;
  margin-top: 75vw;
  border-radius: 3vw;
  overflow: hidden;
  box-shadow: 0px 3px 0px #f1f1f1;
}

.Z_Gg img {
  position: absolute;
  width: 7vw;
  height: 7vw;
  top: 1vw;
  left: 2vw;
}

.Z_G_Te {
  position: relative;
  float: left;
  left: 11vw;
  line-height: 9vw;
  letter-spacing: 2px;
  color: #fab544;
  font-size: 4.5vw;
}

.Z_G_Gx {
  position: absolute;
  color: #fab544;
  font-size: 4.5vw;
  line-height: 9vw;
  letter-spacing: 2px;
  left: 1vw;
}

.G_Name {
  float: left;
  display: block;
  width: 15vw;
  height: 9vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Z_Gg_Ctt {
  position: absolute;
  width: 70vw;
  height: 9vw;
  left: 10vw;
}

.G_Te_Ctt {
  position: relative;
  width: auto;
  height: auto;
  top: 0vw;
  transition: 1.5s;
}

.Z_Jp {
  position: relative;
  width: 88vw;
  height: 40vw;
  margin: auto;
  border-radius: 3vw;
  margin-top: 88vw;
  box-shadow: 0px 6px 0px #ff9801;
  background-image: url(../img/Z_Jp.jpg);
  background-size: 100% 100%;
}

.Z_Jp_Tit {
  position: absolute;
  width: 5vw;
  font-size: 6vw;
  color: #ffffff;
  top: 50%;
  left: 1vw;
  padding: 1vw;
  transform: translateY(-50%);
  line-height: 7.5vw;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.Z_Jp_Ctt {
  position: absolute;
  width: 76vw;
  height: 40vw;
  left: 10vw;
}

.Jp_One {
  position: relative;
  float: left;
  width: 18vw;
  height: 16vw;
  margin-top: 3.5vw;
  margin-left: 6.6vw;
  left: -2vw;
  top: -1vw;
  background-size: 100%;
  animation: Jp_One 1.5s linear infinite;
}

.Jp_One_100 {
  background-image: url(../img/Jp_Im_100.png);
}

.Jp_One_50 {
  background-image: url(../img/Jp_Im_50.png);
}

.Jp_One_30 {
  background-image: url(../img/Jp_Im_30.png);
}

.Jp_One_800 {
  background-image: url(../img/Jp_Im_800.png);
}

.Jp_One_500 {
  background-image: url(../img/Jp_Im_500.png);
}

.Jp_One_300 {
  background-image: url(../img/Jp_Im_300.png);
}

/* 优惠券礼品放大缩小动画 */
@keyframes Jp_One {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1)
  }
}

.C_L_Ctt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.5s;
  transform: scale(0);
}

.Zj_Xx_Ctt {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.5s;
  transform: scale(0);
}

.C_L_Yc,
.ZJXX {
  position: absolute;
  width: 80vw;
  height: auto;
  background: #fff;
  top: 20vw;
  border-radius: 3vw;
  left: 0;
  right: 0;
  margin: auto;
  border: 2vw solid #ec4346;
}

.ZJXX {
  height: 100vw;
  overflow-y: scroll;
}

.XX_Item {
  position: relative;
  float: left;
  width: 96%;
  height: 6vw;
  left: 2%;
  margin-top: 2vw;
  font-size: 3vw;
  text-align: left;
  text-indent: 1vw;
  line-height: 6vw;
  color: #fab544;
  letter-spacing: 0;
  font-size: 3.5vw;
  border-bottom: 1px solid #f1f1f1;
}

.XX_Item time {
  position: absolute;
  display: inline-block;
  right: 1vw;
  font-size: 3vw;
}

.Yc_Tit {
  position: relative;
  width: 100%;
  height: 10vw;
  text-align: center;
  color: #d72e31;
  line-height: 10vw;
  font-size: 4vw;
}

.Yc_Ctt {
  position: relative;
  width: 90%;
  height: 80vw;
  left: 5%;
  overflow-y: scroll;
}

.Yc_One {
  position: relative;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: 3.5vw;
  line-height: 5vw;
  color: #555;
  margin-top: 2vw;
  top: -2vw;
}

.Yc_One_B {
  text-align: center;
  color: #666;
  font-size: 3vw;
  margin-top: 5vw;
}

.Z_Rw {
  position: relative;
  width: 88vw;
  background: #fff;
  margin: 0 auto;
  border-radius: 3vw;
  margin-bottom: 10vw;
  margin-top: 2vw;
  padding-bottom: 5vw;
  box-shadow: 0px 5px 0px #f1f1f1;
}

.Z_Rw_Tit {
  position: relative;
  width: 100%;
  height: auto;
  text-indent: 3vw;
  font-size: 4.5vw;
  letter-spacing: 1px;
  text-align: center;
  top: 1.5vw;
  color: #ee3a3d;
  font-weight: bold;
  letter-spacing: 1px;
}

.Rw_One {
  position: relative;
  width: 96%;
  height: 10vw;
  left: 2%;
  top: 1.5vw;
  margin-top: 4vw;
  border-radius: 3vw;
  line-height: 10vw;
  font-weight: bold;
  box-shadow: 0px 2px 0px #f1f1f1;
}

.Rw_Cs {
  position: relative;
  float: left;
  width: 12vw;
  height: 10vw;
  left: 3vw;
  font-size: 6vw;
  text-align: center;
  color: #0e88eb;
}

.Rw_Te {
  position: relative;
  float: left;
  width: 66%;
  height: 10vw;
  left: 8%;
  font-size: 4.5vw;
  letter-spacing: 1px;
  color: #333;
}

.Rw_An {
  position: absolute;
  right: 3vw;
  top: 0vw;
  width: 20vw;
  height: 8vw;
  text-align: center;
  color: #fff;
  border-radius: 10vw;
  line-height: 8vw;
  font-size: 3.5vw;
  letter-spacing: 2px;
  transition: 0.3s;
  background: linear-gradient(#FF416C, #FF4B2B);
}

/* 领取样式 */
.Rw_An_Lq {
  background: linear-gradient(#FDC830, #F37335);
}

/* 已完成样式 */
.Rw_An_Wc {
  background: #bdc3c7;
}