* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url(../img/sybg.png);
  background-size: 100% 100vh;
}

.head_bar {
  position: relative;
  width: 100vw;
  height: 10vw;
  line-height: 10vw;
  font-size: 4.5vw;
  color: #fff;
  text-align: center;
  margin-bottom: 3vw;
}

.head_bar img {
  position: relative;
  float: left;
  width: 6vw;
  height: 6vw;
  top: 2vw;
  left: 3vw;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  height: 10vw;
  letter-spacing: 1px;
}

.gallery-top {
  width: 90vw;
  height: 65vh;
  margin: 0 auto;
  top: 37vw;
  overflow-y: scroll;
  margin-bottom: 10vw;
  border-radius: 3vw;
  background: #f3f2fb;
  box-sizing: border-box;
  border: 2vw solid #f3f2fb;
}

.gallery-top::before {
  content: 'DSW1609';
  position: absolute;
  color: #fff;
  width: 100%;
  font-size: 6vw;
  text-align: center;
  font-weight: bold;
  top: 50%;
  display: none;
  background: #fff;
  color: transparent;
  transform: translateY(-50%);
  letter-spacing: 1px;
}

.gallery-thumbs {
  height: 10vw;
  padding-left: 5%;
  top: -0.5vw;
  box-sizing: border-box;
}

.gallery-thumbs .swiper-slide:first-child.swiper-slide-thumb-active {
  left: 0vw;
}

.gallery-thumbs .swiper-slide-thumb-active {
  left: -2vw;
}

.gallery-thumbs .swiper-slide-thumb-active span {
  padding: 1vw 2vw;
  border-radius: 3vw;
}

.gallery-thumbs .swiper-slide:first-child.swiper-slide-thumb-active span {
  background: rgba(54, 141, 255, .8);
}

.gallery-thumbs .swiper-slide:nth-child(2).swiper-slide-thumb-active span {
  background: rgba(255, 0, 68, 0.5);
}

.gallery-thumbs .swiper-slide:last-child.swiper-slide-thumb-active span {
  background: rgba(79, 213, 162, 0.8);
}

.gallery-thumbs .swiper-slide {
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  top: 1vw;
}

.gallery-thumbs .swiper-slide-thumb-active {
  color: #fff;
  font-size: 4.3vw;
  font-weight: bold;
}

.gallery-ctr {
  position: absolute;
  top: 25vw;
  left: 5vw;
  width: 70vw;
  margin: 0 auto;
  color: #fff;
  font-size: 4vw;
}

.gallery-ctr .swiper-wrapper {
  width: 90vw;
}

.gallery-ctr .swiper-slide {
  height: 31vw;
  border-radius: 3vw;
}

.ctr1 {
  background: linear-gradient(#b490ff, #9095ff);
}

.ctr1::after,
.ctr2::after {
  position: absolute;
  content: "";
  width: 20vw;
  height: 20vw;
  top: -5vw;
  right: -5vw;
  background-image: url(../img/srr.svg);
  background-size: 100%;
  opacity: 0.1;
}

.ctr2::after {
  background-image: url(../img/zcc.svg);
}

.ctr2 {
  background: linear-gradient(#70e184, #4fd5a2);
}

.ctr3 {
  background: linear-gradient(#f5af19, #f12711);
}

.ctr_tit {
  position: relative;
  left: 5vw;
  top: 5vw;
}

.ctr_tit em {
  font-size: 3.5vw;
  font-style: normal;
}

.ctr_mn {
  position: relative;
  top: 7.5vw;
  font-size: 6vw;
  left: 5vw;
}

.ctr_mn_i {
  float: left;
  text-align: center;
  text-indent: -2vw;
  min-width: 30%;
}

.ctr_mn_i em {
  top: -1vw;
}

.ctr_mn_i i {
  display: inline-block;
  position: relative;
  width: 0;
  height: 0;
  margin-right: 3px;
  border: 1.5vw solid transparent;
}

.ctr_mn_i1 i {
  top: 0;
  border-top-color: #368dff;
}

.ctr_mn_i2 i {
  top: -1.5vw;
  border-bottom-color: #ff8746;
}

.ctr_mn_i2 {
  position: absolute;
  right: 10vw;
}

.ctr_mn em {
  position: relative;
  font-size: 3vw;
  font-style: normal;
  margin-left: 1vw;
}

.ctr_time {
  position: absolute;
  right: 4vw;
  bottom: 4vw;
  font-size: 3.5vw;
}

.ctr3 {
  text-align: center;
}

.tst_item {
  position: relative;
  width: 100%;
  height: 16vw;
  margin-bottom: 2.5vw;
  background: #fff;
  border-radius: 3vw;
  transition: 0.3s;
  box-shadow: 0px 2px 6px 6px rgba(224, 224, 224, .1);
}

.swiper-slide1 .tst_item:hover {
  box-shadow: 0px 3px 0px 0px #a9d2ff;
}

.swiper-slide2 .tst_item:hover {
  box-shadow: 0px 3px 0px 0px #ffe4cd;
}

.tst_im {
  position: relative;
  width: 11vw;
  height: 11vw;
  border-radius: 11vw;
  top: 2.5vw;
  left: 4vw;
  background-size: 100% 100%;
}

.srr {
  background-image: url(../img/srr.svg);
}

.zcc {
  background-image: url(../img/zcc.svg);
}

.tst_tit {
  position: absolute;
  left: 18vw;
  top: 2.7vw;
  font-weight: bold;
  color: #333;
  font-size: 4.2vw;
  letter-spacing: 1px;
}

.tst_time {
  position: absolute;
  left: 18vw;
  bottom: 2.7vw;
  color: #888;
  font-size: 3.5vw;
  letter-spacing: 0px;
}

.tst_am {
  position: absolute;
  width: 15vw;
  line-height: 10vw;
  top: 3vw;
  right: 3vw;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
}

.tst_item .ams {
  color: #368dff;
}

.tst_item .amz {
  color: #ff8746;
}

/* 滚动样式上边距过渡处理 */
.swiper_scoll_tss {
  position: absolute;
  width: 90vw;
  left: 5vw;
  height: 5vw;
  background: linear-gradient(rgb(243, 242, 251), rgba(243, 242, 251, 0));
  z-index: 999;
  top: 58vw;
}