* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
}

body {
  background: #fbf0c9;
}

.Head {
  position: relative;
  width: 100vw;
  height: 75vw;
  background: #f7fcff;
}

.Head_Jim {
  position: absolute;
  width: 96vw;
  left: 2vw;
  z-index: 999;
  top: -2vw;
}

.Head_Tit {
  position: absolute;
  width: 66vw;
  z-index: 999;
  left: 17vw;
  top: 4vw;
}

.Head_Lo {
  position: absolute;
  width: 12vw;
  z-index: 999;
  left: 44vw;
  top: 28vw;
}

.Ctt {
  position: relative;
  width: 100vw;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  background: #fbf0c9;
  overflow: hidden;
  padding-bottom: 15vw;
}

.Head_Slc {
  position: relative;
  width: 44vw;
  height: 8vw;
  margin: 0 auto;
  z-index: 999;
  top: 70vw;
  left: 0.6vw;
}

.Head_Slc_Item {
  position: absolute;
  width: 21vw;
  height: 7.5vw;
  line-height: 7.5vw;
  color: #fff;
  font-size: 4.8vw;
  letter-spacing: 1px;
}

.Head_Slc_Item2 {
  right: 0;
  text-align: right;
}

.Head_Slc_Btm {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  left: 6.8vw;
  /* left: 30.4vw; */
  transition: 0.3s linear;
  border-width: 0 3vw 1.8vw;
  border-style: solid;
  border-color: transparent transparent #fbf0c9;
}

.Ctt_Body {
  position: relative;
  width: 200vw;
}

.Ctt_Q {
  position: relative;
  float: left;
  width: 90vw;
  z-index: 999;
  left: 0vw;
  /* left: -95vw; */
  margin-left: 5vw;
  top: 7vw;
  transition: 0.3s linear;
}

.Ctt_Q2 {
  background: blue;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  box-sizing: border-box;
  background: #fff;
  height: 9vw;
  line-height: 9vw;
  font-size: 4.2vw;
  border-radius: 3vw;
}

.gallery-thumbs .swiper-slide {
  height: 100%;
  color: #555;
  text-align: center;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  color: #ffc729;
}

.C_More {
  position: relative;
  width: 28vw;
  height: 7vw;
  color: #fff;
  font-size: 4vw;
  text-align: center;
  line-height: 7vw;
  background: #2481e2;
  margin: 0 auto;
  border-radius: 2vw;
  margin-top: 3vw;
  letter-spacing: 1px;
}

.C_F_Item {
  position: relative;
  width: 100%;
  height: 30vw;
  background: #fff;
  margin-top: 3vw;
  border-radius: 3vw;
  box-shadow: 0px 3px 0px #f7fcff;
}

.C_Item_L {
  position: absolute;
  width: 15vw;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.C_Item_R {
  position: absolute;
  width: 46vw;
  height: auto;
  left: 16vw;
  top: 50%;
  transform: translateY(-50%);
}

.C_L_T {
  position: relative;
  width: 12vw;
  height: 12vw;
  background-image: url(../img/Zz_O.svg);
  background-size: 12vw;
  margin: 0 auto;
}

.C_L_T1 {
  background-image: url(../img/Zz_F.svg);
}

.C_L_T2 {
  background-image: url(../img/Zz_S.svg);
}

.C_L_T3 {
  background-image: url(../img/Zz_T.svg);
}

.C_L_B {
  position: relative;
  width: 100%;
  height: 5vw;
  text-align: center;
  font-size: 4.5vw;
  color: #fe2a2a;
}

.C_R_Item {
  position: relative;
  width: 46vw;
  height: auto;
  color: #555;
  font-size: 4.5vw;
}

.C_R_Item span {
  display: inline;
  color: #fe2a2a;
}

.C_R_Tit {
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  line-height: 5vw;
  max-height: 10vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.C_R_Fw {
  position: relative;
  height: 9vw;
  line-height: 9vw;
}

.F_H_Xing {
  position: absolute;
  width: 37vw;
  height: 7vw;
  left: 8vw;
  top: 1vw;
  transform: scale(0.85);
}

.F_H_X {
  width: 6vw;
  left: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
}

.C_R_Im {
  position: absolute;
  right: 3.5vw;
  top: 3.5vw;
  width: 23vw;
  height: 23vw;
  border-radius: 2vw;
  overflow: hidden;
}

.C_R_Im img {
  width: 23vw;
  height: 23vw;
}