* {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  user-select: none;
  text-decoration: none;
}

body {
  background: #e42922;
}

.S_Head {
  position: relative;
  width: 100vw;
  height: 39vw;
  background-image: url(../img/Share_Head.png);
  background-size: 100%;
  top: 5vw;
}

.S_Head em {
  font-style: normal;
  font-size: 7vw;
  color: #fff;
}

.S_Head an {
  font-style: normal;
  font-size: 9vw;
  color: #f4e282;
}

.swiper-container {
  position: relative;
  width: 92vw;
  height: 115vw;
  top: -2vw;
  border: 5px solid #fb431f;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.swiper-container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(6px);
  opacity: 0.8;
  background-size: 100%;
  transition: 1s;
}

#sw0::before {
  background-image: url(../img/fx1.jpg);
}

#sw1::before {
  background-image: url(../img/fx2.jpg);
}

#sw2::before {
  background-image: url(../img/fx3.jpg);
}

#sw3::before {
  background-image: url(../img/fx4.jpg);
}

#sw4::before {
  background-image: url(../img/fx5.jpg);
}

.swiper-slide {
  width: 70vw;
  height: 104.5vw;
  top: 3.5vw;
}

.S_Ct {
  height: 104.5vw;
}

.S_Sw_Bg {
  width: 70vw;
  height: 105vw;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  width: 8vw !important;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  border-radius: 8px !important;
}

.share_mk,
.share_mk_k {
  position: relative;
  width: 52vw;
  height: 11vw;
  line-height: 11vw;
  margin: 3vw auto;
  font-size: 5vw;
  text-align: center;
  color: #fff;
  background: linear-gradient(#ffe778, #ff9109);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6vw;
  font-weight: bold;
  letter-spacing: 2px;
}

.S_EWM {
  position: absolute;
  width: 20vw;
  height: 20vw;
  left: 25vw;
  top: 0;
}

.S_EWM img {
  width: 20vw;
  height: 20vw;
}

.S_EWM1 {
  top: 65vw;
}

.S_EWM2 {
  top: 60vw;
}

.S_EWM3 {
  top: 78vw;
}

.S_EWM4 {
  top: 75vw;
}

.S_EWM5 {
  top: 60vw;
}

.S_CVS {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0vw;
  z-index: 999;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

.S_CVS::before {
  content: '';
  position: absolute;
  top: -1px;
  width: 100vw;
  height: 33vw;
  background-image: url(../img/GGZZ.png);
  background-size: 34% 100%;
}

.S_CVS::after {
  content: '';
  position: absolute;
  top: 100vw;
  width: 15vw;
  height: 15vw;
  border-radius: 15vw;
  left: 70vw;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(../img/lpress.svg);
  background-size: 100%;
  z-index: 999;
  /* 海市蜃楼-鼠标穿透 */
  pointer-events: none;
  animation: S_CVS 2s infinite linear;
}

@keyframes S_CVS {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.S_V_Img {
  position: relative;
  width: 85vw;
  height: 127vw;
  top: 20vw;
  left: 7.5vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.S_Mk_K {
  position: absolute;
  width: 75vw;
  top: 149vw;
  left: 12.5vw;
}

.share_mk_k {
  margin-top: 8vw;
}

.share_mk_c {
  position: relative;
  float: left;
  width: 59vw;
}

.S_Mk_Gb {
  position: relative;
  float: left;
  width: 11vw;
  left: 5vw;
  background: linear-gradient(#f85032, #e73827);
}